<%= form_for @user, url: users_path do |f| %>
	Tên				: <%= f.text_field :name %>
	<% if @user.errors[:name].any? %>
		<span>
			<%= "Name #{@user.errors[:name][0]}" %>			
		</span>
	<% end %>
	<br />
  Email			: <%= f.email_field :email, :required => true %><br />
  Giới tính	: <%= radio_button( :user, "gender", 0) %>Nam
  						<%= radio_button( :user, "gender", 1) %>Nữ
  						<%= radio_button( :user, "gender", 2, {checked: true}) %>Khác<br />
  Ngày sinh	: <%= f.date_field :birthday %><br />
  Mật khẩu	:	<%= f.password_field :pass, :required => true %>
	<% if @user.errors[:pass].any? %>
		<span>
			<%= "Password #{@user.errors[:pass][0]}" %>			
		</span>
	<% end %>
  <%= f.submit %>
	<br />
<% end %>

<style type="text/css">
	.field_with_errors{
		display: inline-block;
	}
</style>