<%= erb :head %>

<main>
	<div class="container">
		<table>
		  <tr>
		    <th>Tên sách</th>
		    <th>Tác giả</th>
		    <th>Nhà xuất bản</th>
		    <th>Giá bán</th>
		    <th>Ảnh bìa</th>
		    <th>Đã bán được</th>
		    <th>Thao tác</th>
		  </tr>
			<% @books.each do |book| %>
				<tr>
					<td><%= book["name"] %></td>
					<td><%= book["authod"] %></td>
					<td><%= book["publisher"] %></td>
					<td><%= book["sale"] %></td>
					<td class="img">
						<img src="/books/<%= book['image']%>" >
					</td>
					<td><%= book["quantity"] %></td>
					<td>
						<form action="/order/<%= @id %>" method="post">
							<% book.each do |x| %>
								<input type="hidden" name="<%= x[0]%>" value='<%= x[1]%>'>
							<% end %>
							<input type="submit" value="Đặt mua">
						</form>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</main>

<%= erb :footer %>

<style type="text/css">
	.header{
		position: fixed;
		right: 0px;
	}
	.header form{
/*		float: left;
*/	}

	table{
		width: 100%;
	}
	td, th{
		padding-right: 20px;
	}
	td{
		text-align: center;
	}
	img{
		max-height: 200px;
		max-width: 200px;
	}
</style>